
<nav class="navbar navbar-expand-lg ">
<div class="container">
  <%= link_to "Twitter-Chat", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse me-auto float-end" id="navbarNavDropdown">

      <ul class="navbar-nav justify-content-end  ">
        <% if !customer_signed_in? %>
          <%= link_to "Sign in", customer_session_path, class: "nav-link" %>
        <% else %>
        
        <%= link_to "Sign out", destroy_customer_session_path(@customer), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
        <% end %>
      </ul>
  </div>
</div>
</nav>